a,
a:visited {
    text-decoration: none;
}

.header_wrapper {
    margin-left: 350px;
    margin-right: 350px;

    .header-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        margin-top: 50px;
        font-family: 'Montserrat';

        .header-heading__head {
            font-size: 42px;
        }

        .header-heading__subhead {
            font-size: 16px;
        }

    }

    .header-menu {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        margin-top: 50px;

        .header-menu__item {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 1.3px;
            text-transform: uppercase;
            
        }

    }
}