footer {
    background-color: #000000;
    border-top: 1px solid #8B8B8B;
    padding-bottom: 30px;
    padding-top: 30px;
}

.footer-container {
    padding-left: 8%;
    padding-right: 8%;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-content {
    display: flex;
    width: 100%;

    @include _480() {
        display: flex;
        flex-direction: column;
    }

    .footer-content__menu {
        width: 50%;

        @include _480() {
            width: 100%;
        }

        ul {
            list-style: none;

            @include _480() {
                text-align: center;
                margin-bottom: 30px;
            }

            li {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 28px;
                text-transform: uppercase;

                &:hover {
                    -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                }

                a {
                    color: #8B8B8B;
                   
                }

            }
        }
    }

    .footer-content-block {
        width: 50%;

        @include _480() {
            width: 100%;
        }

        .footer-content__text {
            font-family: 'Lato';
            font-style: normal;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 28px;
            color: #8B8B8B;
        }

        .footer-content__label {
            font-family: 'Lato';
            font-style: normal;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #8B8B8B;
        }

        .footer-content__social {
            display: flex;
            justify-content: space-evenly;

            img {
                margin-top: 10px;
                height: 20px;
                width: auto;

                &:hover {
                    -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }

    }
}